<%= form_with(model: forecast, local: true) do |form| %>
  <% if forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forecast.errors.count, "error") %> prohibited this forecast from being saved:</h2>

      <ul>
      <% forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :forecast_city %>
  </div>

  <div class="field">
    <%= form.label :temp_min %>
    <%= form.number_field :temp_min, id: :forecast_temp_min %>
  </div>

  <div class="field">
    <%= form.label :temp_max %>
    <%= form.number_field :temp_max, id: :forecast_temp_max %>
  </div>

  <div class="field">
    <%= form.label :precipitation %>
    <%= form.text_field :precipitation, id: :forecast_precipitation %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user, id: :forecast_user %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
